<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pay My Buddy</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
</head>
<body>
<nav class="bg-light navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"></a>
    <nav class="navbar navbar-expand text-start py-3">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z">
                        </path>
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z">
                        </path>
                    </svg>
                </span>
                <span>Pay my buddy</span>
            </a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
        <span class="visually-hidden">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-2">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link active" href="#">Transfer</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
        <a class="btn btn-primary ms-md-2" role="button" href="logout">Log off</a>
    </div>
</div>
</nav>
    <div class="collapse navbar-collapse" id="navbarNav"><ul class="nav"><li class="nav-item active"></li></ul></div>
</nav><div class="container">
    <!-- Adding Name of the Client and Balance Available in its account -->
    <h3 th:text="'Welcome '+ ${clientFirstName}">client_firstName</h3>
    <div class="alert alert-success" role="alert"><span th:text=" 'Your balance available:' + ${balance} + '€'"><strong>{client_balance}</strong></span></div>
    <h4 th:text="${message}"></h4>
</div>
<div class="container mt-5">
    <div class="row"><div class="col-12">
        <form
                th:action="@{/transactions}"
                th:object="${payment}"
                th:method="post"
                method="post"
        >
        <h5 class="card-title">Send Money</h5>
        <a class="btn btn-primary float-right" role="button" href="/newconnection">Add Connection</a>
        <div class="card" style="min-width: auto;"></div>
        <div class="card"><div class="card-body" style="text-align: center;">
            <label>
                <select
                        th:field="*{beneficiaryName}"
                        style="text-align: center;padding: 2px;margin: 15px;" name="beneficiary">
                    <!-- Adding a list of beneficiaries for the corresponding client -->
                    <!-- Solution in: www.baeldung.com/thymeleaf-select-option -->
                    <option
                            th:each="beneficiary : ${beneficiaries}"
                            th:text="${beneficiary}"
                            th:value="${beneficiary}">
                    </option>
                </select>
            </label>
            <label>
                <input th:field="*{amount}" type="number" style="text-align: right;padding: 1px 2px;margin: 15px;" placeholder="0€" step="1" min="0" value="€">
            </label>
            <button class="btn btn-success" type="submit" style="text-align: center;margin: 15px;width: 154.2969px;">Pay</button>
</div></div>
        </form>
    <h5>My transactions</h5>
    <div class="card mt-3"><div class="card-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Connections</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="transaction : ${transactions.page.content}">
                    <!-- the variable is the attribute set in the class -->
                    <td th:text="${transaction.date}">Date</td>
                    <td th:text="${transaction.beneficiaryName}">Beneficiary_firstName</td>
                    <td th:text="${transaction.description}">Description</td>
                    <td th:text="${transaction.amount} + '€'">Amount</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h5 class="card-title"></h5>
    <div>
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
        <nav aria-label="Page navigation" class="paging">
            <ul class="pagination" th:if="${transactions.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!transactions.paging.isPrevEnabled()? 'enabled' : ''}">
                    <a class="page-link" th:href="@{'/transactions?pageNumber=' + ${transactions.paging.pageNumber - 1}}"
                       tabindex="-1">Previous</a>
                </li>
                <th:block th:each="item : ${transactions.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == transactions.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link" th:href="@{'/transactions?pageNumber=' + ${item.index}}"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!transactions.paging.isNextEnabled()? 'enabled' : ''}">
                    <a class="page-link" th:href="@{'/transactions?pageNumber=' + ${transactions.paging.pageNumber + 1}}">Next</a>
                </li>
            </ul>
        </nav>

</div></div></div></div></div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>